@import "tailwindcss";

@theme {
  --color-primary: var(--primary-color, #00B5AD);
  --color-secondary: #1996DC;
  --color-navy: #001D4A;
  --color-brand: var(--primary-color, #00B5AD);

  
  --font-brand: "Noto Sans", sans-serif;
}

@layer base {
  body {
    @apply bg-white text-navy font-brand antialiased;
  }

  /* Minimalist Scrollbar Implementation */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-slate-200 rounded-full hover:bg-primary/40 transition-colors;
  }

  /* Firefox support */
  * {
    scrollbar-width: thin;
    scrollbar-color: #E2E8F0 transparent;
  }
}
